html, body {
  height: 100%;
  margin: 0;
}

body {
    background-color: rgb(232, 132, 171);
  display: flex;
  flex-direction: column;   /* Apila los elementos en columna */
  justify-content: center;  /* Centra verticalmente */
  align-items: center;      /* Centra horizontalmente */
  text-align: center;       /* Centra el texto dentro de los elementos */
  gap: 40px;
}



img{
    max-width: 100%;
    height: auto;
    
  
}

#crecer {

  background-color: #65a750;
  margin: 40px;
  width: 100px;
  height: 100px;
  font-size: 50px;

}

#rechazao {
  width: 100px;
    height: 100px;
    font-size: 50px;
  background-color: #e16d6d
  ;
}

#volver{
  width: 200px;
  background-color: #e96565;
  font-size: 20px;


}
